<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @property.photo.small.url %>
</p>

<p>
  <strong>Account:</strong>
  <%= @property.account_id %>
</p>

<%= link_to 'Edit Property', edit_property_path(@property), class: 'btn btn-success' %>
